@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  width: 100%;
  min-height: 100vh;
  height: 1px;
}

.components{
  display: flex;
}

/* SIDEBAR CSS */
.side_bar{
  width: 14%;
  min-height: 100vh;
  background-color: #202776;
}

.side_menu{
  padding-top: 6rem;
}

.side_menu_content{
  display: flex;
  align-items: center;
  margin: 1.2rem 0;
  filter: invert(1);
}

.side_menu_content_txt{
  margin-left: 0.8rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-weight: 500;
}

.logo1{
  display: flex;
  align-items: center;
  margin: 1rem 0;
  margin-left: 1.6rem;
}

.logo1_txt{
  margin-left: 8px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.logo1_img{
  width: 43px;
}

.content_img{
  width: 17px !important;
}

/* MIDDLE COMPONENT CSS */
.middle1{
  width: 86%;
  padding: 3rem 1.7rem;
}

.middle1 img{
  width: 100%;
  height: 20vh;
}

.popular_hits{
  margin: 2rem 0;
}

.img_part{
  position: relative;
}

.music_player{
  height: 3vw;
  width: 3vw;
  border: 2px solid;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: white;
    opacity: 0.6;
    border: 2px solid #ded8d8;
    display: none;
}

.music_player .play_pause_img{
  width: 90%;
  height: 90%;
}

.img_part:hover .music_player{
  display: flex;
}


/* ADMIN PANEL CSS */

.adminPanel{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.adminPanel1{
  width: 55%;
  display: flex;
  height: 100%;
}

.admin_sidebar{
  display: flex;
  height: 100%;
  width: 30%;
}

.admin_Panelform{
  width: 65%;
  padding: 1.6rem 4rem;
}

.admin_Panelform form{
  margin: 1.4rem 0;
}

.data_table{
  width: 100%;
  padding: 2rem 1.8rem;
}

.data_table_header{
  display: flex;
  width: 100%;
}